<main class="observation-form" [formGroup]="observationForm">
  @switch (currentStep) {
    @case (STEP.LOCATION) {
      <app-observation-location-step
        [observationForm]="observationForm"
      ></app-observation-location-step>
    }
    @case (STEP.TYPE_AND_PHOTO) {
      <app-observation-type-photo-step
        [observationForm]="observationForm"
        [photoName]="photoName"
        [isWaterOverflowSelected]="isWaterOverflowSelected"
        (photoSelected)="onPhotoSelected($event)"
        (removePhoto)="onRemovePhoto()"
      ></app-observation-type-photo-step>
    }
    @case (STEP.TEMPERATURE) {
      <app-observation-temperature-step
        [observationForm]="observationForm"
      ></app-observation-temperature-step>
    }
    @case (STEP.VISIBILITY_AND_ALGAE) {
      <app-observation-visibility-algae-step
        [observationForm]="observationForm"
      ></app-observation-visibility-algae-step>
    }
    @case (STEP.WATER_QUALITY) {
      <app-observation-water-quality-step
        [observationForm]="observationForm"
      ></app-observation-water-quality-step>
    }
    @case (STEP.TERMS) {
      <app-observation-terms-step
        [observationForm]="observationForm"
        [submissionErrorKey]="submissionErrorKey"
      ></app-observation-terms-step>
    }
  }
</main>
<footer class="footer flex-column">
  <app-steps [amount]="amountOfSteps" [active]="currentStepIndex"></app-steps>
  <div class="flex-row">
    @if (currentStepIndex > 0) {
      <p-button
        class="back-button"
        [label]="'OBSERVATION.FOOTER.BACK' | translate"
        [outlined]="true"
        (click)="onClickBack()"
      ></p-button>
    }
    <p-button
      class="next-button"
      [label]="nextButtonLabel | translate"
      [disabled]="!isNextEnabled"
      [loading]="isSubmitting"
      (click)="onClickNext()"
    ></p-button>
  </div>
</footer>
<div class="background-container">
  <app-icon class="background" icon="logo"></app-icon>
</div>
