<ul class="metric-container">
  <li>
    <p class="button-sm">
      {{ "DASHBOARD.DATA_POINTS.WATERBAG_TESTKIT.LAST_UPDATED_ON" | translate }}
    </p>
    <p class="body-sm">
      {{ dataPoint.lastUpdatedOn | date: "dd/MM/yyyy HH:mm" }}
    </p>
  </li>
  @for (metric of dataPoint.data | keyvalue; track metric.key) {
    <li>
      <p class="button-sm">
        {{
          getDataPointTranslation(DATA_POINT_TYPE.WATERBAG_TESTKIT, metric.key)
        }}
      </p>
      @if (metric.key === "algae") {
        <p class="body-sm">
          {{ getWaterbagTestkitValue(metric.value, metric.key) }}
        </p>
      } @else {
        <p-chip
          class="chip"
          [style]="{
            'background-color': getDataQualityBackgroundColor(
              metric.value.result ?? 0
            ),
            color: getDataQualityTextColor(metric.value.result ?? 0),
          }"
          [label]="
            getWaterbagTestkitValue(metric.value, metric.key) +
            '' +
            getMetricUnit(DATA_POINT_TYPE.WATERBAG_TESTKIT, metric.key)
          "
        ></p-chip>
      }
    </li>
  }
</ul>
@if (dataPoint.imageUrl) {
  <div class="observation-image-preview">
    <img
      class="observation-image"
      [src]="getDataPointImageUrl(dataPoint.imageUrl)"
      [alt]="'Image for ' + dataPoint.name"
      loading="lazy"
    />
  </div>
}
