<main class="flex-column">
  <section class="content flex-column">
    <app-icon icon="check"></app-icon>
    <p>{{ "OBSERVATION.CONFIRMATION.TITLE" | translate }}</p>
    <small>{{ "OBSERVATION.CONFIRMATION.DESCRIPTION" | translate }}</small>
  </section>
  <app-icon class="wave" icon="navigation-header-wave"></app-icon>
  <div class="actions">
    <p-button
      routerLink="/"
      queryParamsHandling="preserve"
      class="button"
      [outlined]="true"
      [label]="'OBSERVATION.CONFIRMATION.BACK_TO_MAP' | translate"
    ></p-button>
    <p-button
      routerLink="/observation"
      queryParamsHandling="preserve"
      class="button"
      [label]="'OBSERVATION.CONFIRMATION.RESTART' | translate"
    ></p-button>
  </div>
</main>
